/* Header */
.header {
    height: 72px;
    padding: 0 7%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 7px;
}

.navbar {
    display: flex;
    gap: 35px;
}

.navbar a {
    font-size: 12px;
    color: #444;
    transition: 0.3s;
}

.navbar a:hover,
.navbar .active {
    color: #ef6b73;
}

.navbar a{
    background-color: black;
    color: white;
    padding: 10px 22px;
    border-radius: 25px;
    font-weight: 500;
}

.navbar a :hover {
    background-color: transparent;
    color: #ef6b73;
    border-color: #ef6b73;
}